<div class="sidebar">
    <div class="p-3 text-white fw-bold fs-5">
        <i class="bi bi-speedometer2 me-2"></i> Admin Panel
    </div>
    <hr class="text-secondary">
    <a href="/Account/Dashboard" class="active"><i class="bi bi-grid-fill"></i> Dashboard</a>
    <a href="/Admin/Courses"><i class="bi bi-book"></i> Courses</a>
    <a href="/Admin/CourseGroups"><i class="bi bi-book"></i>CourseGroups</a>
    <a href="/Admin/Students"><i class="bi bi-people"></i> Students</a>
    <a href="/Admin/Subjects"><i class="bi bi-journal-text"></i> Subjects</a>
    <a href="/Admin/Staff"><i class="bi bi-person-badge"></i> Staff</a>
    <a href="/Admin/Tasks"><i class="bi bi-list-task"></i> Tasks</a>
    <a href="/Admin/SubjectWiseReport"><i class="bi bi-bar-chart"></i> SubjectWises Report</a>
    <a href="/Admin/CourseWiseReport"><i class="bi bi-bar-chart"></i> CourseWise Report</a>
    <a href="#" class="nav-link text-danger" data-bs-toggle="modal" data-bs-target="#logoutModal">
        <i class="bi bi-box-arrow-right"></i> Logout
    </a>



</div>