@model Student_Performance_Management_System.ViewModel.StudentEnrollmentViewModel;

@{
    ViewData["Title"] = "AddTask";
    Layout = "_AdminLayout";
}

<h1>AddTask</h1>

<h4>Tasks</h4>
<hr />
<div class="row" justify-content-center">
    <div class="col-md-4 ">
        <form asp-action="AddTask">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label class="form-label">Course</label>
                <select asp-for="CourseId"
                        asp-items="Model.Courses"
                        class="form-control">
                    <option value="">-- Select Course --</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Course Group</label>
                <select asp-for="CourseGroupId"
                        asp-items="Model.Courses"
                        class="form-control">
                    <option value="">-- Select Course --</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Staff</label>
                <select asp-for="StaffId"
                        asp-items="Model.Courses"
                        class="form-control">
                    <option value="">-- Select Course --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="CourseGroupId" class="control-label"></label>
                <input asp-for="CourseGroupId" class="form-control" />
                @* <select asp-for="CourseGroupId" class ="form-control" asp-items="ViewBag.CourseGroupId"></select> *@
            </div>
            <div class="form-group">
                <label asp-for="ValidFrom" class="control-label"></label>
                <input asp-for="ValidFrom" class="form-control" />
                <span asp-validation-for="ValidFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValidTo" class="control-label"></label>
                <input asp-for="ValidTo" class="form-control" />
                <span asp-validation-for="ValidTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>