<h2>Enroll Student</h2>

<form method="post">
    <label>Name</label><br />
    <input type="text" name="name" required /><br /><br />

    <label>Email</label><br />
    <input type="email" name="email" required /><br /><br />

    <label>MobileNo</label><br />
    <input type="text" name="mobileno" required /><br /><br />

    <label>CourseId</label><br />
    <input type="number" name="courseid" required /><br /><br />

    <label>CourseGroupId</label><br />
    <input type="number" name="coursegroupid" required /><br /><br />



    <p>Default Password: <b>Student@123</b></p>

    <button type="submit">Enroll</button>
</form>

@foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
{
    <p style="color:red">@error.ErrorMessage</p>
}


